[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ROCnReg"]
	path = ROCnReg
	url = https://github.com/cran/ROCnReg
[submodule "SOP"]
	path = SOP
	url = https://github.com/cran/SOP
[submodule "SpATS"]
	path = SpATS
	url = https://github.com/cran/SpATS
[submodule "npROCRegression"]
	path = npROCRegression
	url = https://github.com/cran/npROCRegression
